/* Write your CSS code here */
.blogs-container {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
@media all and (max-width: 768px) {
  .blogs-container {
    width: 95%;
  }
}
